In [1]:
list1 = [1, 2, 3]
list1

[1, 2, 3]

In [2]:
list2 = ["Product ABC", "Product DEF", "Product GHI"]
list2

['Product ABC', 'Product DEF', 'Product GHI']

In [3]:
list3 = ["TV ABC", "Maker XYZ", 48000]
list3

['TV ABC', 'Maker XYZ', 48000]

In [4]:
list4 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list4[0]

10

In [5]:
list4[3]

40

In [6]:
list4[-1]

100

In [7]:
list4[2:5]

[30, 40, 50]

In [8]:
list4[:5]

[10, 20, 30, 40, 50]

In [9]:
list4[4:]

[50, 60, 70, 80, 90, 100]

In [10]:
list4[-5:-1]

[60, 70, 80, 90]

In [11]:
list5 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list5[0] = 1
list5

[1, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [12]:
list6 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list6.append(110)
list6

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [13]:
list7 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list7.remove(20)
list7

[10, 30, 40, 50, 60, 70, 80, 90, 100]

In [14]:
tuple1 = (1 ,2 ,3)
tuple1

(1, 2, 3)

In [15]:
tuple2 = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
tuple2[0]

10

In [16]:
dict_sales = {"FY2010":32, "FY2011":48, "FY2012":67, "FY2013":75, "FY2014":92, "FY2015":103}

In [17]:
dict_sales["FY2012"]

67

In [18]:
list_monthly_sales_FY2012 = [3, 2, 7, 2, 6, 4, 8, 11, 6, 7, 3, 8] 
dict_sales = {"FY2010":32, "FY2011":48, "FY2012":list_monthly_sales_FY2012, "FY2013":75, "FY2014":92, "FY2015":103}

In [19]:
dict_sales["FY2012"]

[3, 2, 7, 2, 6, 4, 8, 11, 6, 7, 3, 8]

In [20]:
dict_sales["FY2012"][2]

7

In [21]:
dict_sales["FY2016"] = 130

In [22]:
dict_sales

{'FY2010': 32,
 'FY2011': 48,
 'FY2012': [3, 2, 7, 2, 6, 4, 8, 11, 6, 7, 3, 8],
 'FY2013': 75,
 'FY2014': 92,
 'FY2015': 103,
 'FY2016': 130}

In [23]:
dict_sales["FY2016"] = 125

In [24]:
dict_sales

{'FY2010': 32,
 'FY2011': 48,
 'FY2012': [3, 2, 7, 2, 6, 4, 8, 11, 6, 7, 3, 8],
 'FY2013': 75,
 'FY2014': 92,
 'FY2015': 103,
 'FY2016': 125}

In [25]:
del dict_sales["FY2016"]

In [26]:
dict_sales

{'FY2010': 32,
 'FY2011': 48,
 'FY2012': [3, 2, 7, 2, 6, 4, 8, 11, 6, 7, 3, 8],
 'FY2013': 75,
 'FY2014': 92,
 'FY2015': 103}